* {
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.Home {
    background-image: url(backgroundImage.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
.content {
    justify-content: center;
    align-items: center;
    flex:1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
header, footer {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(105, 32, 32, 0.774);

}
footer{
    bottom: 0;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    
    padding: 10px;
    gap: 10px;
    max-width: 400px;
    
    border-radius: 10px;
    color: rgb(71, 17, 17);
    background-color: rgba(194, 194, 194, 0.5);
}

.card img{
    align-self: center;
    width: 200px;
    min-height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(71, 17, 17);
    aspect-ratio: 1.1;
}

.card p {
    text-indent: 10px;
}
.inputHolder {
    align-self: flex-end;
}
.cardsHolder {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}